body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.loader {
  margin: 0 auto;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid black;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
.search-form {
  background-color: #3b5998;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}

.search-button {
  padding: 10px 15px;
  height: 40.5px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #fff;
  cursor: pointer;
}
.load-more {
  cursor: pointer;
  color: #fff;
  background-color: #3c5997;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 50px;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 15px;
  display: block;
}

.search-button:hover {
  background-color: #f0f0f0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.photo-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.photo-card:hover {
  transform: translateY(-10px);
}

.photo-card img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #eee;
}

.info-item {
  margin: 5px 0;
  flex: 1 1 calc(50% - 10px);
  text-align: center;
}

.info-item b {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.hidden {
  display: none;
}
